/*
30074191 / Keanu Farro
*/

/*
Navbar
*/
.navbar {
    height: 75px;
    background-color: black;
}

.content {
    display: flex;
    margin-top: 120px !important;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 100%;
}

.btn-secondary
{
    /*
    28/11/2024
    display: block was being overridden by bootstrap's css according to inspect element so an important tag must be used to make the dropdown go to the center
    */
    display: block !important;
    margin: auto;
}

